[submodule "ManaGuide-ios"]
	path = ManaGuide-ios
	url = https://github.com/jovito-royeca/ManaGuide-ios.git
[submodule "ManaKit"]
	path = ManaKit
	url = https://github.com/jovito-royeca/ManaKit.git
[submodule "ManaGuide-web"]
	path = ManaGuide-web
	url = https://github.com/jovito-royeca/ManaGuide-web.git
