[submodule "ManaGuide-ios"]
	path = ManaGuide-ios
	url = https://github.com/vito-royeca/ManaGuide-ios.git
[submodule "ManaKit"]
	path = ManaKit
	url = https://github.com/vito-royeca/ManaKit.git
[submodule "ManaGuide-web"]
	path = ManaGuide-web
	url = https://github.com/vito-royeca/ManaGuide-web.git

[submodule "ManaGuide-node"]
	path = ManaGuide-node
	url = https://github.com/vito-royeca/ManaGuide-node.git
[submodule "ManaGuide-maintainer"]
	path = ManaGuide-maintainer
	url = git@github.com:vito-royeca/ManaGuide-maintainer.git
[submodule "ManaGuide-multiplatform"]
	path = ManaGuide-multiplatform
	url = ./ManaGuide-multiplatform
