<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Sort By</string>
			<key>Key</key>
			<string>setSortBy</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Name</string>
				<string>Number</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Order By</string>
			<key>Key</key>
			<string>setOrderBy</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Ascending</string>
				<string>Descending</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Display By</string>
			<key>Key</key>
			<string>setDisplayBy</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>List</string>
				<string>2x2 Grid</string>
				<string>4x4 Grid</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Show</string>
			<key>Key</key>
			<string>setShow</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Cards</string>
				<string>MTG Salvation</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
